* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 18px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .search-box input {
    color: #06283D;
    font-weight: 600;
    margin-left: 10px;
    width: 300px;
    font-size: 18px;
}

.container .search-box input::placeholder {
    font-weight: 700;
    color: #313131;
    text-transform: none;
}

.container .search-box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    transition: 0.9s ease;
}

.search-box button:hover{
    color: #fff;
    background: #06283D;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-box img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.not-found {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found img {
    width: 300px;
    margin-bottom: 25px;
}

.not-found p {
    font-weight: 500;
    margin-left: 40px;
}

.weather-box .temperature {
    font-size: 50px;
    font-weight: 600;
}

.weather-box .description {
    font-weight: 500;
}

.weather-details {
    padding: 1em 1em 1em 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .weather-details .humidity, .wind {
    display: flex;
    align-items: center;
} 

.weather-details .humidity i, .wind i {
    margin-right: 10px;
}

.weather-details .humidity span, .wind span {
    font-weight: 600;
}

.weather-details .humidity p, .wind p {
    font-size: 14px;
}
